body{
	background: #f4f4f4;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
	margin: 0;
}

ul,ol{
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: white;
}
em{
	font-style: normal;
}

.text-center{
	text-align: center;
}
.color-gray{
	color: #ababab;
}
.color-red{
	color: #ff6565;
}

